/* CSS files add styling rules to your content */

body {
 background-image: url(images/background.jpg);
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 margin: 0;
 padding: 0;
 font-size: 15px;
 font-family: "proxima-nova",sans-serif !important;
}

.title {
  color: black;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* The navigation menu */
.navbar {
 margin: 0;
 padding-top: 0px;
 background-color: #008080;
 overflow: hidden;
 margin-bottom: 60px;
}

.nav-content {
   padding-top: 40px;
   color: white;
}

/* Navigation links */
.navbar a {
  float: right;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}
/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  padding-top: 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  color: #31004a;
  font-weight: bold;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #31004a;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #dee8eb;
  color: #31004a;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

h1 {
  color: black;
  font-size: 30px;
  padding-left: 20px;
}

h2 {
  color: black;
  padding: 4px;
  padding-left: 20px;
}
