/* CSS files add styling rules to your content */

body {
 background-image: url(images/background.jpg);
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin: 0;
 padding: 0;
 font-size: 15px;
 font-family: 'Courier New', cursive;
}

p, li {
  font-size: 20px;
  font-weight: normal;
}

.title {
  color: black;
}

.icon {
  width: 40px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* The navigation menu */
.navbar {
 text-align: center;
 position: static;
 color: black;
 display: inline-block;
 float: left;
}

.nav-content {
   color: white;
}

/* Navigation links */
/* Add a background color to navigation links on hover */
.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0 alpha(white,0.4);
  background-image: linear-gradient(to right, white 50%, yellow 50%);
  background-position: 0;
  background-size: 200%;
  transition: all 0.4s;
  display: block;
  margin: 20px;
}

.navbar a:hover {
    background-position: -100%;
}

h1 {
  color: black;
  font-size: 30px;
  margin: 0;
}

h2 {
  color: black;
  font-size: 24px;
  margin: 0;
}

h3 {
  color: black;
  font-size: 20px;
  margin: 0;
}

video {
  padding: 40px;
}

footer {
  font-size: 14px;
}

/* CSS Grid  */
.head {
  grid-area: header;
}
.navbar {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header menu '
    'main main main right right'
    'main main main right right';
  grid-gap: 0;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 5%;
  margin-top: 2%;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
}
